<h1>User Information</h1>
<div class="container">
  
  <label class="container"></label>
  <input type="text" class="container" [(ngModel)]="name" name="name" placeholder="Enter Name for Search" />
  <div *ngFor="let i of persons | filter:name">
    <div class="card">
      <h3>User Name : {{i.userName}}</h3>
      <div class="container">
        <h4> FirstName : {{i.firstName}} </h4>
        <h4> LastName  : {{i.lastName}}</h4>
        <input type="button" (click)="deleteperson(i.userName)" value="Delete" />
        <a routerLink="/editperson/{{i.userName}}" routerLinkActive="active">Edit</a>


      </div>

    </div>
  </div>
</div>
