<h1><b>Login</b></h1>
<div class="container">
  <form #login="ngForm" (ngSubmit)="logger(login)">
    <div class="form-group">
      <label for="username">UserName</label>

      <input type="text" name="username" class="form-control" ngModel />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Password </label>
      <input type="password" name="password" class="form-control" ngModel />
    </div>
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  </div>

